@import "tailwindcss";

/* Scrollbar'ı tamamen gizle */
html {
    scrollbar-width: none;
    /* Firefox için */
    -ms-overflow-style: none;
    /* IE ve Edge için */
}

html::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari ve Opera için */
}

body {
    background-color: #f8f8ff;
    /* blue-50 */
}